/* Banner */

/* Reviews */

#reviewsBtn {
 border-top: 1px solid black;
 border-radius: unset;
}

#reviewsBtnHide {
  border-top: 1px solid black;
  border-radius: unset;
  display: none;
}

/* Footer */

