/* Navbar */

.customNav {
 
    background-color: #b8cbd465;
    }
  
  .customNav:hover {
    background-color: darkslategray;
  }
  
  
  /* Nav for MD and higher - no scroll */
  
  #bigNav{
    padding: 8px 0 0;
    
  }
  
  .navcontainer {
    background-color: #b1c8d34d;
  }
  
  #logoBig{
    max-width: 10vw;
    position: relative;
    top: 0.2vw;
    left:1.5vw;
  
  }
  
  .navButtonsBig {
    font-size: 1.1rem;
    color: azure;
  }
  
  .navButtonsBig:hover {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    word-spacing: 5px;
  }
  
  .activeBtn {
    border-bottom: 1px solid white;
    font-size: 1.3rem;
  }
  
  #signUpBig {
    border: 1px solid darkslategray;
    min-width: 80px;
  }
  
  #loginBig {
    background-color: darkslategray;
    min-width: 80px;
  }
  
  